<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dashboard</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li>
        <div class="checkbox">
          <label>
            <input id="show-messages" type="checkbox">Show Messages
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="show-names" type="checkbox">Show Names
          </label>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-9" id="hosts"></div>
    <div class="col-xs-3">
      <div class="well" style="padding: 10px;">
        <div class="inst" style="background-color: #dddddd;"><div class="inst-name">Instance</div></div>
        <div class="inst" style="background-color: #6666ff;"><div class="inst-name">Transitioning</div></div>
        <div class="inst" style="background-color: #ff3333;"><div class="inst-name">Error</div></div>
      </div>
      <div id="note"></div>
  </div>
</div>
